<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I SAW HER STANDING THERE</string>
	<string>MISERY</string>
	<string>ANNA</string>
	<string>CHAINS</string>
	<string>BOYS</string>
	<string>ASK ME WHY</string>
	<string>PLEASE PLEASE ME</string>
	<string>LOVE ME DO</string>
	<string>DO YOU WANT TO KNOW A SECRET</string>
	<string>A TASTE OF HONEY</string>
	<string>TWIST AND SHOUT</string>
	<string>ALL MY LOVING</string>
	<string>LITTLE CHILD</string>
	<string>TILL THERE WAS YOU</string>
	<string>PLEASE MISTER POSTMAN</string>
	<string>ROLL OVER BEETHOVEN</string>
	<string>HOLD ME TIGHT</string>
	<string>YOU REALLY GOT A HOLD ON ME</string>
	<string>I WANNA BE YOUR MAN</string>
	<string>DEVIL IN HER HEART</string>
	<string>NOT A SECOND TIME</string>
	<string>I SHOULD HAVE KNOWN BETTER</string>
	<string>IF I FELL</string>
	<string>AND I LOVE HER</string>
	<string>TELL ME WHY</string>
	<string>ANY TIME AT ALL</string>
	<string>THINGS WE SAID TODAY</string>
	<string>WHEN I GET HOME</string>
	<string>NO REPLY</string>
	<string>ROCK AND ROLL MUSIC</string>
	<string>EIGHT DAYS A WEEK</string>
	<string>WORDS OF LOVE</string>
	<string>EVERY LITTLE THING</string>
	<string>HELP</string>
	<string>THE NIGHT BEFORE</string>
	<string>I NEED YOU</string>
	<string>ANOTHER GIRL</string>
	<string>TICKET TO RIDE</string>
	<string>ACT NATURALLY</string>
	<string>YOU LIKE ME TOO MUCH</string>
	<string>TELL ME WHAT YOU SEE</string>
	<string>YESTERDAY</string>
	<string>DIZZY MISS LIZZY</string>
	<string>DRIVE MY CAR</string>
	<string>NORWEGIAN WOOD</string>
	<string>NOWHERE MAN</string>
	<string>THINK FOR YOURSELF</string>
	<string>THE WORD</string>
	<string>MICHELLE</string>
	<string>WHAT GOES ON</string>
	<string>GIRL</string>
	<string>IN MY LIFE</string>
	<string>WAIT</string>
	<string>IF I NEEDED SOMEONE</string>
	<string>RUN FOR YOUR LIFE</string>
	<string>TAXMAN</string>
	<string>ELEANOR RIGBY</string>
	<string>LOVE YOU TO</string>
	<string>YELLOW SUBMARINE</string>
	<string>SHE SAID SHE SAID</string>
	<string>GOOD DAY SUNSHINE</string>
	<string>AND YOUR BIRD CAN SING</string>
	<string>FOR NO ONE</string>
	<string>DOCTOR ROBERT</string>
	<string>I WANT TO TELL YOU</string>
	<string>GOT TO GET YOU INTO MY LIFE</string>
	<string>TOMORROW NEVER KNOWS</string>
	<string>WITH A LITTLE HELP FROM MY FRIENDS</string>
	<string>LUCY IN THE SKY WITH DIAMONDS</string>
	<string>GETTING BETTER</string>
	<string>FIXING A HOLE</string>
	<string>WITHIN YOU WITHOUT YOU</string>
	<string>LOVELY RITA</string>
	<string>GOOD MORNING GOOD MORNING</string>
	<string>A DAY IN THE LIFE</string>
	<string>MAGICAL MYSTERY TOUR</string>
	<string>THE FOOL ON THE HILL</string>
	<string>FLYING</string>
	<string>BLUE JAY WAY</string>
	<string>YOUR MOTHER SHOULD KNOW</string>
	<string>I AM THE WALRUS</string>
	<string>STRAWBERRY FIELDS FOREVER</string>
	<string>PENNY LANE</string>
	<string>ALL YOU NEED IS LOVE</string>
	<string>DEAR PRUDENCE</string>
	<string>GLASS ONION</string>
	<string>WILD HONEY PIE</string>
	<string>THE CONTINUING STORY OF BUNGALOW BILL</string>
	<string>WHILE MY GUITAR GENTLY WEEPS</string>
	<string>HAPPINESS IS A WARM GUN</string>
	<string>MARTHA MY DEAR</string>
	<string>BLACKBIRD</string>
	<string>PIGGIES</string>
	<string>ROCKY RACCOON</string>
	<string>I WILL</string>
	<string>JULIA</string>
	<string>BIRTHDAY</string>
	<string>YER BLUES</string>
	<string>SEXY SADIE</string>
	<string>HELTER SKELTER</string>
	<string>HONEY PIE</string>
	<string>SAVOY TRUFFLE</string>
	<string>CRY BABY CRY</string>
	<string>GOOD NIGHT</string>
	<string>ONLY A NORTHERN SONG</string>
	<string>ALL TOGETHER NOW</string>
	<string>HEY BULLDOG</string>
	<string>ALL YOU NEED IS LOVE</string>
	<string>COME TOGETHER</string>
	<string>SOMETHING</string>
	<string>HERE COMES THE SUN</string>
	<string>BECAUSE</string>
	<string>YOU NEVER GIVE ME YOUR MONEY</string>
	<string>SUN KING</string>
	<string>POLYTHEME PAM</string>
	<string>SHE CAME IN THROUGH THE BATHROOM WINDOW</string>
	<string>GOLDEN SLUMBERS</string>
	<string>CARRY THAT WEIGHT</string>
	<string>THE END</string>
	<string>HER MAJESTY</string>
	<string>TWO OF US</string>
	<string>DIG A PONY</string>
	<string>ACROSS THE UNIVERSE</string>
	<string>I ME MINE</string>
	<string>DIG IT</string>
	<string>LET IT BE</string>
	<string>MAGGIE MAE</string>
	<string>THE LONG AND WINDING ROAD</string>
	<string>FOR YOU BLUE</string>
	<string>GET BACK</string>
</array>
</plist>
